Button {
	-fx-focus-traversable: false
}

Label {
	-fx-focus-traversable: false
}

PasswordField {
	-fx-focus-traversable: false
}

TextArea {
	-fx-focus-traversable: false
}

TextField {
	-fx-focus-traversable: false
}

.text-area > .scroll-pane{
	-fx-hbar-policy:never;
	-fx-vbar-policy:never; 
}